<ion-view view-title="Register: Who are you">
    <ion-content scroll="true">
        <div class="list list-inset">
            </br>
            </br>
            <label class="item item-input">
                <input type="text" placeholder="Student First Name" required>
            </label>
            </br>
            <label class="item item-input">
                <input type="text" placeholder="Student Last Name" required>
            </label>
            </br>
            <label class="item item-input">
                <input type="email" placeholder="Student Email Address" required>
            </label> </br>
            <label class="item item-input">
                <input type="password" placeholder="Password" required>
            </label></br>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" required>
            </label>
            </br>
            <label class="item item-input">
                <input type="text" placeholder="Student Cell Phone Number" required>
            </label>
            </br>
  
        <button class="button button-block button-royal" ng-click="nextSteps()">Next</button>
    </div>
    </ion-content>
</ion-view>