<ion-view view-title="Register">
    <ion-content scroll="true">
        <div class="list list-inset">
            </br>
            </br>Major Food Allergies? Dietary Restrictions?
            <label class="item item-text">
                <input ng-model="user.allergies"type="text" placeholder="Optional">
            </label></br>
            Other medical concerns that staff needs to be aware of?
            <label class="item item-text">
                <input ng-model="user.other" type="text" placeholder="Optional">
            </label>
            </br>
            <label class="item item-input">
                <input ng-model="user.emergencyName" type="text" placeholder="Emergency Contact Name" required>
            </label>
            </br>
            <label class="item item-input">
                <input ng-model="user.emergencyNumber" type="text" placeholder="Emergency Contact Number" required>
            </label>
            <button class="button button-block button-royal" ng-click="processRegistration()">Register</button>
        </div>
    </ion-content>
</ion-view>